[{
  "timestamp" : 1515087410880,
  "timestampHr" : "2018-01-04 12:36:50 PM EST",
  "fromUnits" : "USD",
  "fromAmount" : 9.9999988144464,
  "toUnits" : "LTC",
  "toAmount" : 0.04129427,
  "toPerFrom" : 0.00414181577203446,
  "exchangeName" : "gdax",
  "btcAmount" : 6.802479650003129E-4,
  "btcPriceInUsd" : 14700.52,
  "usdTotal" : 9.9999988144464,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 242.16432,
  "income" : false
}, {
  "timestamp" : 1515087629058,
  "timestampHr" : "2018-01-04 12:40:29 PM EST",
  "fromUnits" : "USD",
  "fromAmount" : 142.8551407177389,
  "toUnits" : "BCH",
  "toAmount" : 0.05919621,
  "toPerFrom" : 4.1562241534810453E-4,
  "exchangeName" : "gdax",
  "btcAmount" : 0.009706356141333245,
  "btcPriceInUsd" : 14717.69,
  "usdTotal" : 142.8551407177389,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 2413.24809,
  "income" : false
}, {
  "timestamp" : 1515087629058,
  "timestampHr" : "2018-01-04 12:40:29 PM EST",
  "fromUnits" : "USD",
  "fromAmount" : 7.1448553551012,
  "toUnits" : "BCH",
  "toAmount" : 0.00296068,
  "toPerFrom" : 4.1562241534810453E-4,
  "exchangeName" : "gdax",
  "btcAmount" : 4.8546037829993695E-4,
  "btcPriceInUsd" : 14717.69,
  "usdTotal" : 7.1448553551012,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 2413.24809,
  "income" : false
}, {
  "timestamp" : 1515087706000,
  "timestampHr" : "2018-01-04 12:41:46 PM EST",
  "fromUnits" : "USD",
  "fromAmount" : 97.01,
  "toUnits" : "BCH",
  "toAmount" : 0.04011047,
  "toPerFrom" : 2418.570512886037,
  "exchangeName" : "coinbase",
  "btcAmount" : 0.0065907965277556034,
  "btcPriceInUsd" : 14719.01,
  "usdTotal" : 97.01,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "GDAX BTC-USD",
  "feeInUsd" : 2.99,
  "costBasisPerUnit" : 2418.570512886037,
  "income" : false
}, {
  "timestamp" : 1515087729000,
  "timestampHr" : "2018-01-04 12:42:09 PM EST",
  "fromUnits" : "USD",
  "fromAmount" : 15.51,
  "toUnits" : "LTC",
  "toAmount" : 0.06451045,
  "toPerFrom" : 240.42616351304324,
  "exchangeName" : "coinbase",
  "btcAmount" : 0.0010537393479588641,
  "btcPriceInUsd" : 14719.01,
  "usdTotal" : 15.51,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "GDAX BTC-USD",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 240.42616351304324,
  "income" : false
}, {
  "timestamp" : 1515157518333,
  "timestampHr" : "2018-01-05 08:05:18 AM EST",
  "fromUnits" : "BCH",
  "fromAmount" : 0.06215689,
  "toUnits" : "USD",
  "toAmount" : 148.1545406048109,
  "toPerFrom" : 2390.73,
  "exchangeName" : "gdax",
  "btcAmount" : 0.009347879399634735,
  "btcPriceInUsd" : 15849.0,
  "usdTotal" : 148.1545406048109,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515157532602,
  "timestampHr" : "2018-01-05 08:05:32 AM EST",
  "fromUnits" : "LTC",
  "fromAmount" : 0.04129427,
  "toUnits" : "USD",
  "toAmount" : 10.1847303830622,
  "toPerFrom" : 247.38,
  "exchangeName" : "gdax",
  "btcAmount" : 6.425697402562902E-4,
  "btcPriceInUsd" : 15850.0,
  "usdTotal" : 10.1847303830622,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515157586700,
  "timestampHr" : "2018-01-05 08:06:26 AM EST",
  "fromUnits" : "USD",
  "fromAmount" : 158.33995422875,
  "toUnits" : "BTC",
  "toAmount" : 0.00996499,
  "toPerFrom" : 6.309148264984228E-5,
  "exchangeName" : "gdax",
  "btcAmount" : 2515962.495212002,
  "btcPriceInUsd" : 6.293414728163817E-5,
  "usdTotal" : 158.33995422875,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "first-hand",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 15889.625,
  "income" : false
}, {
  "timestamp" : 1515157957000,
  "timestampHr" : "2018-01-05 08:12:37 AM EST",
  "fromUnits" : "BCH",
  "fromAmount" : 0.04017722,
  "toUnits" : "USD",
  "toAmount" : 95.57,
  "toPerFrom" : 2378.711120381151,
  "exchangeName" : "coinbase",
  "btcAmount" : 0.0060175003038028555,
  "btcPriceInUsd" : 15882.01,
  "usdTotal" : 95.57,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "GDAX BTC-USD",
  "feeInUsd" : 2.99,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515157975000,
  "timestampHr" : "2018-01-05 08:12:55 AM EST",
  "fromUnits" : "LTC",
  "fromAmount" : 0.06451045,
  "toUnits" : "USD",
  "toAmount" : 15.86,
  "toPerFrom" : 245.851641090707,
  "exchangeName" : "coinbase",
  "btcAmount" : 9.974842767295597E-4,
  "btcPriceInUsd" : 15900.0,
  "usdTotal" : 15.86,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "GDAX BTC-USD",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515163937028,
  "timestampHr" : "2018-01-05 09:52:17 AM EST",
  "fromUnits" : "BTC",
  "fromAmount" : 0.00996499,
  "toUnits" : "USD",
  "toAmount" : 159.36916355754974,
  "toPerFrom" : 16032.99,
  "exchangeName" : "gdax",
  "btcAmount" : 2548776.295112493,
  "btcPriceInUsd" : 6.252771726697019E-5,
  "usdTotal" : 159.36916355754974,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "first-hand",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515207457720,
  "timestampHr" : "2018-01-05 21:57:37 PM EST",
  "fromUnits" : "ETH",
  "fromAmount" : 0.667813,
  "toUnits" : "USD",
  "toAmount" : 653.82231765,
  "toPerFrom" : 979.05,
  "exchangeName" : "gdax",
  "btcAmount" : 0.039371090734078976,
  "btcPriceInUsd" : 16606.66,
  "usdTotal" : 653.82231765,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515207462498,
  "timestampHr" : "2018-01-05 21:57:42 PM EST",
  "fromUnits" : "ETH",
  "fromAmount" : 0.05094224,
  "toUnits" : "USD",
  "toAmount" : 49.875000072,
  "toPerFrom" : 979.05,
  "exchangeName" : "gdax",
  "btcAmount" : 0.003003313132923779,
  "btcPriceInUsd" : 16606.66,
  "usdTotal" : 49.875000072,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515207465066,
  "timestampHr" : "2018-01-05 21:57:45 PM EST",
  "fromUnits" : "ETH",
  "fromAmount" : 0.05120262,
  "toUnits" : "USD",
  "toAmount" : 50.129925111,
  "toPerFrom" : 979.05,
  "exchangeName" : "gdax",
  "btcAmount" : 0.003018663904180612,
  "btcPriceInUsd" : 16606.66,
  "usdTotal" : 50.129925111,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515207465620,
  "timestampHr" : "2018-01-05 21:57:45 PM EST",
  "fromUnits" : "ETH",
  "fromAmount" : 0.00203668,
  "toUnits" : "USD",
  "toAmount" : 1.994011554,
  "toPerFrom" : 979.05,
  "exchangeName" : "gdax",
  "btcAmount" : 1.200730040839037E-4,
  "btcPriceInUsd" : 16606.66,
  "usdTotal" : 1.994011554,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515207468324,
  "timestampHr" : "2018-01-05 21:57:48 PM EST",
  "fromUnits" : "ETH",
  "fromAmount" : 0.30550297,
  "toUnits" : "USD",
  "toAmount" : 299.1026827785,
  "toPerFrom" : 979.05,
  "exchangeName" : "gdax",
  "btcAmount" : 0.018011007799190206,
  "btcPriceInUsd" : 16606.66,
  "usdTotal" : 299.1026827785,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}, {
  "timestamp" : 1515207475757,
  "timestampHr" : "2018-01-05 21:57:55 PM EST",
  "fromUnits" : "ETH",
  "fromAmount" : 0.00152751,
  "toUnits" : "USD",
  "toAmount" : 1.4955086655,
  "toPerFrom" : 979.05,
  "exchangeName" : "gdax",
  "btcAmount" : 9.005475306292777E-5,
  "btcPriceInUsd" : 16606.66,
  "usdTotal" : 1.4955086655,
  "usdDerivationMethod" : "first-hand",
  "btcDerivationMethod" : "known usdPerBtc tick",
  "feeInUsd" : 1.49,
  "costBasisPerUnit" : 1.0,
  "income" : false
}]
